.icon
{
  display: inline-block;
  color: #333;
  line-height: 1em;
  margin-top: -.75em;
  text-decoration: none;
  text-indent: -9999px;
  width: 1em;
}

a.fa
{
  color: #333;
  text-decoration: none;
}

.icon::after
{
  display: block;
  font-family: FontAwesome, sans-serif;
  text-indent: 0;
}

.menu-icon::after
{
  content: "\f0c9";
}

.image-replacement
{
  background: url(menu_image.png);
  display: block;
  height: 80px;
  text-indent: -9999px;
  width: 160px;
}
